<script setup lang="ts">
import UserDialog from "./UserDialog.vue";
import UserList from "./UserList.vue";
import UserCardList from "./UserCardList.vue";
import { userUserStore } from "../../stores/user";
import { mdiTable, mdiCardOutline } from "@mdi/js";
const userStore = userUserStore();
</script>
<template>
  <v-container>
    <v-row>
      <UserList v-if="userStore.isTable"></UserList>
      <userCardList v-if="!userStore.isTable"></userCardList>
      <UserDialog></UserDialog>
    </v-row>
    <v-row class="justify-center">
      <v-btn :icon="mdiTable" flat @click="userStore.isTable = true"></v-btn>
      <v-btn
        :icon="mdiCardOutline"
        @click="userStore.isTable = false"
        flat
      ></v-btn>
    </v-row>
  </v-container>
  <div class="text-h1"></div>
</template>
<style scoped></style>
